body, html {
  height: 100%;
  background-color: rgb(27, 127, 67);
}

.App {
  text-align: center;
}

@font-face {
  font-family: "Crackman";
  src: url("crackman.regular.ttf");
}

@font-face {
  font-family: "Bohemia";
  src: url("bohemian-typewriter.regular.ttf");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nota {
  display: inline-block;
  background-color: black;
  width: 200px;
  height: 400px;
  transform: translateX(-250px);
  transition: transform 10s linear;
}

.instruction {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.text {
  color: white;
  font-size: 28px;
  font-family: 'Bohemia';
}

.circle {
  background-color: rgb(255, 221, 28);
  height: 66px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  margin-left: 80px;
  margin-right: 40px;
}

.title {
  align-self: center;
  font-size: 100px;
  color: rgb(255, 221, 28);
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

.container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.qrcontainer {
  display: flex;
  justify-content: center;
}

.qr {
  margin-top: 50px;
  display: flex;
  border-width: 10px;
  width: 180px;
  height: 180px;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.number {
  color: white;
  font-size: 36px;
  font-family: 'Bohemia';
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
